.footer {
    background-color: #809848;
    color: #2E0014;
    text-align: center;
	display: flex;
    width: 100%;
	justify-content: center;
	align-items: center;
}

.footer-text {
    margin-right: 60%;
}

.footer-link {
    color: #2E0014;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
	color: #fff;
}