/* FrontPage.css */
.frontpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 100px; 
    padding-bottom: 60px; 
    width: 100%;
    box-sizing: border-box;
}

.filter-container {
    flex: 0 0 20%; 
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; 
}

.destinations-grid {
    flex: 1; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.destination-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 25px;
    box-sizing: border-box;
    width: 420px; 
    height: 306px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;
}

.destination-name {
    color: #2E0014;
    margin: 10px 0; 
    text-align: center;
    font-size: 1.5em; 
}

.destination-image {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 8px; 
}

