.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top:50px;
    overflow-y:auto;
    max-height: 80vh;
}

.overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-plan{
    z-index: 100000001;

}

.overlay-plan{
    z-index: 100000000;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-group {
    margin-bottom: 15px;
    width: 100%;
}

.modal-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-input,
.modal-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.modal-textarea {
    resize: vertical;
    min-height: 100px;
}

.modal-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-submit-button {
    background-color: #442220;
}

.modal-close-button {
    background-color: #ccc;
    color: black;
}

.modal-submit-button:hover {
    background-color: #2E0014;
}

.modal-close-button:hover {
    background-color: #999;
}
