.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #809848;
	padding: 0;
	border-bottom: 8px solid #442220;
}



.logo {
	width: 140px;
	height: 140px;
	padding: 0px;
	padding-left: 10px;
	margin: 0px;
}

.user-logo {
	width: 40px;
	height: 40px;
	padding-right: 30px;
}

.user-logo:hover {
	filter: drop-shadow(0 0 1em #b0ca87);
}

.logout-logo {
	width: 25px;
	height: 25px;
	padding-right: 30px;
}

.logout-logo:hover {
	filter: drop-shadow(0 0 1em #b0ca87);
}

.navbar-menu {
    display: flex;
    align-items: center;
}