.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Set a fixed height for the navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #809848;
    padding: 0;

    z-index:1000000000;
}

.logo {
    width: 90px;
    height: 90px;
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
}

.user-logo {
    width: 17px;
    height: 17px;
    padding-right: 30px;
}

.user-logo:hover {
    filter: drop-shadow(0 0 1em #b0ca87);
}

.logout-logo {
    width: 15px;
    height: 15px;
    padding-right: 30px;
}

.logout-logo:hover {
    filter: drop-shadow(0 0 1em #b0ca87);
}

.navbar-menu {
    display: flex;
    align-items: center;
}
