.plan {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.plan-content {
  display: flex;
  flex: 1;
  padding: 20px;
  padding-top: 100px;
  gap: 20px;
}

.plan-participants {
  width: 200px;
}

.participants {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.participant-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.participant-icon {
  margin-left: auto;
  cursor: pointer
}

.save-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.save-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #442220;
  height: 40px;
  width: 100px;
}

.save-button:hover{
  background-color: #2E0014;
}

.save-text{
  color: white;
}

.save-icon{
  margin-right: 5px;
  color: white;
}

.plan-data-container {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plan-map {
  flex: 1;
  height: 500px;
  min-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plan-name {
  font-size: 2rem;
  margin-bottom: 10px;
}

.plan-description {
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .plan-content {
    flex-direction: column;
  }

  .plan-map {
    height: 300px;
  }
}