.ticketContent {
    display: flex;
    align-items: center;
}

.ticket-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.ticket-city{
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
}

.ticket-date{
    font-size: xx-small;
}

.offers{
    padding-left: 0;
}

.offers-text{
    text-align: left;
}

.ticket-price{
    font-weight: 700;
}

.ticket-arrow{
    margin-top: 0px;
    padding-top: 10px;
}

.ticket-item{
    padding-left: 25px;
    background-color: #e2e2e2;
    padding:5px;
    border-radius:8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rotate-90 {
    transform: rotate(90deg);
    padding: 10px;
    background-color: #442220;
}

.bi-airplane-fill{
    color: white;
}

.tickets{
    margin-left: 20px;
}